{% extends 'base.html.twig' %}

{% block title %}Pyam - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container my-5">
      {{ component('Game:CardComponent',{
          nbCards:nbCards
      }) }}
    </div>
{% endblock %}
