{% extends 'base.html.twig' %}

{% block body %}
    <div class="links-container">
        <div class="links">
            <a href="https://www.twitch.tv/shadoc_tv" target="_blank" class="link">
                <i class="fa-brands fa-twitch"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCnlCnqsDTxfLlCeaE1SLvhQ" target="_blank" class="link">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.tiktok.com/@shadoc_tv" target="_blank" class="link">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="https://www.instagram.com/shadoc_tv/" target="_blank" class="link">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://discord.gg/2eNyAUak8d" target="_blank" class="link">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a href="https://twitter.com/ShadOc_TV" target="_blank" class="link">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </div>
    </div>
{% endblock %}
