@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

.main-navbar {
    position: sticky;
    top: 0;
}

.links-container {
    background-color: #fff;
    background-image: url("./../image/StarCitizen 2025-05-27 21-39-02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .links {
        background-color: rgba(white, .8);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-around;
        padding: 60px 20px;
        border-radius: 20px;
        width: 80%;

        .link {
            font-size: 50px;
            transition: all .3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            aspect-ratio: 1;
            color: #000;
            text-decoration: none;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                inset: 100%;
                transition: all .3s ease;
                background-color: rgba(#b3b3b3, .8);
                border-radius: 1000px;
                z-index: 1;
            }

            i {
                position: relative;
                z-index: 2;
                transition: all .3s ease;
            }

            &:hover {
                i {
                    transform: scale(1.1);
                }

                &:before {
                    inset: 0;
                }
            }
        }
    }
}
